.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dna-wrapper {
  animation: zoomInOut 1s infinite ease-in-out;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Zoom in */
  }
}
